<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>

    <link href="~/Content/styles/bootstrap4/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/OwlCarousel2-2.2.1/owl.carousel.css" rel="stylesheet" />
    <link href="~/Content/plugins/OwlCarousel2-2.2.1/owl.theme.default.css" rel="stylesheet" />
    <link href="~/Content/plugins/OwlCarousel2-2.2.1/animate.css" rel="stylesheet" />
    <link href="~/Content/styles/main_styles.css" rel="stylesheet" />
    <link href="~/Content/styles/responsive.css" rel="stylesheet" />


    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="super_container">
        <div class="menu trans_500">
            <div class="menu_content d-flex flex-column align-items-center justify-content-center text-center">
                <div class="menu_close_container"><div class="menu_close"></div></div>
                <form action="#" class="menu_search_form">
                    <input type="text" class="menu_search_input" placeholder="Search" required="required">
                    <button class="menu_search_button"><i class="fa fa-search" aria-hidden="true"></i></button>
                </form>
                <ul>
                    <li class="menu_item"><a href="index.html">Principal</a></li>
                    <li class="menu_item"><a href="#">Acerca de</a></li>
                    <li class="menu_item"><a href="#">Servicios</a></li>
                    <li class="menu_item"><a href="news.html">Novedades</a></li>
                    <li class="menu_item"><a href="contact.html">Contacto</a></li>
                </ul>
            </div>
            <div class="menu_social">
                <ul>
                    <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>

        <header class="header" id="header">
            <div>
                <div class="header_top">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="header_top_content d-flex flex-row align-items-center justify-content-start">
                                    <div class="logo">
                                        <a href="/">health<span>+</span></a>
                                    </div>
                                    <div class="header_top_extra d-flex flex-row align-items-center justify-content-start ml-auto">
                                        <div class="header_top_nav">
                                            <ul class="d-flex flex-row align-items-center justify-content-start">
                                                <li><a href="#">Help Desk</a></li>
                                                <li><a href="#">Emergency Services</a></li>
                                                <li><a href="#">Appointment</a></li>
                                            </ul>
                                        </div>
                                        <div class="header_top_phone">
                                            <i class="fa fa-phone" aria-hidden="true"></i>
                                            <span>+34 586 778 8892</span>
                                        </div>
                                    </div>
                                    <div class="hamburger ml-auto"><i class="fa fa-bars" aria-hidden="true"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header_nav" id="header_nav_pin">
                    <div class="header_nav_inner">
                        <div class="header_nav_container">
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="header_nav_content d-flex flex-row align-items-center justify-content-start">
                                            <nav class="main_nav">
                                                <ul class="d-flex flex-row align-items-center justify-content-start">
                                                    <li class="active"><a href="/">Principal</a></li>
                                                    <li><a href="about.html">Acerca de</a></li>
                                                    <li><a href="services.html">Servicios</a></li>
                                                    <li><a href="news.html">Novedades</a></li>
                                                    <li><a href="/Home/Contact">Contacto</a></li>
                                                </ul>
                                            </nav>
                                            <div class="search_content d-flex flex-row align-items-center justify-content-end ml-auto">
                                                <form action="#" id="search_container_form" class="search_container_form">
                                                    <input type="text" class="search_container_input" placeholder="Search" required="required">
                                                    <button class="search_container_button"><i class="fa fa-search" aria-hidden="true"></i></button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div >
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
            </footer>
        </div>
    </div>




    <script src="~/Content/js/jquery-3.3.1.min.js"></script>
    <script src="~/Content/styles/bootstrap4/popper.js"></script>

    <script src="~/Content/styles/bootstrap4/bootstrap.min.js"></script>

    <script src="~/Content/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
    <script src="~/Content/plugins/easing/easing.js"></script>

    <script src="~/Content/plugins/parallax-js-master/parallax.min.js"></script>

    <script src="~/Content/js/custom.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
